<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }
      
      #gpu {
        width: 400px;
        height: calc(400px - 8px);
        border: 4px black solid;
      }

      p {
        width:  100vmin;
        margin:0;
        padding: 0;
        word-wrap: break-word;
        background: pink;
        text-justify: inter-character;
      }
    </style>
    <script>
      localStorage.setItem("DEBUG", "example1,example2,example3"); // enable "debug output" for these namesapces
    </script>
  </head>
  <body>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis tempus massa. Aenean erat nisl, gravida vel vestibulum cursus, interdum sit amet lectus. Sed sit amet quam nibh. Suspendisse quis tincidunt nulla. In hac habitasse platea dictumst. Ut sit amet pretium nisl. Vivamus vel mi sem. Aenean sit amet consectetur sem. Suspendisse pretium, purus et gravida consequat, nunc ligula ultricies diam, at aliquet velit libero a dui.
      </p>
    </body>
</html>
